# Private
.zshenv-private

# Submodules
#.config/Themes
#.fonts/typicons.font

# Python
**/__pycache__/

# LibLUA (must be compiled per-platform if we're using it)
**/liblua_pam.so

.fonts/**/.uuid

.config/nvim/lazy-lock.json
